/* iconfont */
@font-face {
	font-family: 'Portein-Icons';
	src:  url('../font/Portein-Icons.eot?iehyht');
	src:  url('../font/Portein-Icons.eot?iehyht#iefix') format('embedded-opentype'),
	  url('../font/Portein-Icons.ttf?iehyht') format('truetype'),
	  url('../font/Portein-Icons.woff?iehyht') format('woff'),
	  url('../font/Portein-Icons.svg?iehyht#Portein-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Portein-Icons' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cart::before {
	content: "\e900";
}
.icon-login::before {
	content: "\e901";
}
.icon-phone::before {
	content: "\e902";
}
.icon-porten::before {
	content: "\e903";
}
.icon-search::before {
	content: "\e904";
}
