/* desctop */
@media screen and (max-width: 1800px) {
	/* season goods */
	.season-goods {
		gap: 50px;
	}
	.season-goods__card:last-child {
		display: none;
	} 
	.season-goods__card:not(:last-child) {
		margin-right: 0;
	}
}

@media screen and (max-width: 1460px) {
	/* new */
	.new {
		grid-template-columns: 1fr;
	}
	.collection {
		height: 530px;
	}
	.season-goods__card:last-child {
		display: block;
	}
}

@media screen and (max-width: 1150px) {
	/* season */
	.season {
		padding: 93px 0;
	}
}

@media screen and (max-width: 1140px) {
	/* new goods */
	.new-goods {
		padding: 0 0 150px;
	}
	.new-goods-list {
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
	}

	/* old collection */
	.old-collection {
		grid-template-columns: 1fr;
	}
}


/* table */
@media screen and (max-width: 992px) {
	/* footer */
	.footer__inner {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}
	.about {
		max-width: 100%;
		grid-column: 1/3;
	}
	.footer-title {
		text-align: center;
	}
	.footer-text {
		text-align: center;
	}
}


@media screen and (max-width: 930px) {
	/* season goods */
	.season-goods__card:last-child {
		display: none;
	}
}

@media screen and (max-width: 850px) {
	/* new goods */
	.new-goods-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 768px) {
	/* header */
	.header {
		position: fixed;
	}
	.top-line {
		display: none;
	}
	.navbar__container {
		padding: 20px 15px;
	}

	/* burger */
	.menu {
		width: 100%;
		min-height: 100vh;
		padding: 20px 50px 20px;
		position: absolute;
		top: 0;
		left: -100%;
		flex-flow: column;
		gap: 40px;
		background-color: var(--main-back);
		transition: 0.6s left;
	}
	.menu--open {
		left: 0;
	}
	.menu__logo {
		margin-top: 50px;
		display: block;
	}
	.nav-menu {
		flex-flow: column;
	}
	.burger-button {
		width: 25px;
		height: 14px;
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		cursor: pointer;
	}
	.burger-button__line {
		width: 100%;
		height: 3px;
		background-color: var(--main-font);
		transition: 0.6s all;
	}
	.burger-button__line--active {
		position: absolute;
		top: 5px;
	}
	.burger-button__line--active:first-child {
		transform: rotate(45deg);
	}
	.burger-button__line--active:last-child {
		transform: rotate(-45deg);
	}


	/* brend */
	.brend {
		width: 260px;
		height: 260px;
	}

	/* brends */
	.brends {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}

	/* footer */
	.footer__inner {
		grid-template-columns: 1fr;
	}
	.about {
		max-width: 100%;
		grid-column: 1/2;
	}
	.mailing {
		max-width: 100%;
	}
}

/* mobile */
@media screen and (max-width: 576px) {
	/* footer */
	.footer {
		padding: 50px 0px;
	}
}

@media screen and (max-width: 430px) {
	/* footer */
	.mailing-form__area {
		height: auto;
		display: flex;
		flex-flow: column;
		gap: 20px;
	}
}
